// Colors
$light-purple: #E6E7F3
$light-purple-text: #A4A1CD
$purple: #524A9D
$body-color: #F7F8FD


// // Colors (Dark Theme)
// $light-purple: #46426F
// $light-purple-text: #A4A1CD
// $purple: #7D75C6
// $body-color: #222222